<div class="bg-white relative z-50 mt-10 py-5">
    <div class="container w-5/6 m-auto">
        <div class="up flex justify-between items-center py-5">
            <a href="#">
                <h3 class="head flex items-center">
                    <span>
                        <img src="logo.png" class="w-10" alt>
                    </span>
                    <span class="text-2xl font-bold"> Recipe</span>
                </h3>
            </a>
            <div class="Academy text-2xl font-bold text-blue-700">
                Route
            </div>
        </div>
        <div class="hr h-[1px] bg-gray-200 my-3"></div>
        <div class="down text-center text-gray-500 py-3">
            © 2025 <a
                href="https://www.linkedin.com/in/mohammed-ashraf0/">Ashraf™</a>.
            All Rights Reserved.
        </div>
    </div>
</div>
